

* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}


/* klasy globalne */


.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.main-section {
    padding: 40px 0;
}

.container {
    width: 1055px;
    margin: 0 auto;
}

.section-title {
    font-size: 22px;
    color: #575757;
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 6px;
    border-bottom: 7px solid #24BAA0;
    width: 320px;
}

.btn {
    border:0;
    display: inline-block;
    color:#fff;
    background: #24BAA0;
    padding:10px 30px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.5s background;
}
.btn:hover {
    background: #1F8976;
}

.row {
    margin-left:-15px;
    margin-right:-15px;
    display: flex;
}
.row .col-1-3 {
    padding:0 15px;
    width: 33.3333%;
}


/* page header */


.page-header {
    height: 40px;
    background-color: #000;
    position: relative;
    z-index: 100000;
}
.page-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.page-logo {
    margin:0;
    display: flex;
    align-items: center;
}
.page-logo-link {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
}
.page-logo-link span {
    color: #24BAA0;
}

.page-nav {}
.page-nav-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
.page-nav-list li {
    position: relative;
}
.page-nav-list a {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    padding: 0 20px;
    line-height: 40px;
    display: block;
    transition: 0.5s;
}
.page-nav-list a:hover {
    color: #24BAA0;
}


.page-nav-sublist {
    position: absolute;
    top: calc(100% + 12px);
    left: 50%;
    background: #000;
    list-style:none;
    padding:10px;
    margin:0;
    transform: translate(-50%, 0);
    /* do plynnego chowania i pokazywania elementu */
    transition:0.5s;
    opacity: 0;
    visibility: hidden;
}

.page-nav-list li:hover .page-nav-sublist {
    opacity: 1;
    visibility: visible;
}

.page-nav-sublist:after {
    content:"";
    width:0;
    height:0;
    border:10px solid transparent;
    border-bottom-color: #000;
    display: block;
    position: absolute;
    top:-20px;
    left: 50%;
    transform: translate(-50%, 0);
}
.page-nav-sublist:before {
    content: "";
    width: 100%;
    height: 12px;
    background: transparent;
    position: absolute;
    left:0;
    top:-12px;
}
.page-nav-sublist li {

}
.page-nav-sublist a {
    text-transform: none;
    font-weight: normal;
    line-height: 25px;
}


/* slider */

.main-banner-bg {
    background: linear-gradient(#fafafa, #ddd);
}

.banner {
    height:505px;
    display: flex;
}
.banner-prev,
.banner-next {
    width: 100px;
    font-size: 70px;
    color: #24BAA0;
    border:0;
    background: none;
    cursor: pointer;
    outline: none;
}
.banner-prev:active,
.banner-next:active {
    color: #000;
}
.banner-next {
    order: 1;
}
.banner-slides {
    flex-grow: 1;
    position: relative;
}
.banner-slide {
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    opacity: 0;

}
.banner-slide-show {
    opacity: 1;
    z-index: 1;
    display: flex;
    align-items: center;
}

.banner-slide img{
    width: 380px;
}

.banner-slide-info {
    width: 50%;
    text-align: center;
    margin-top: 150px;
}

.banner-title {
    font-size: 45px;
    font-weight: 500;
    margin: 0 auto;
    padding: 0 10px 20px 0;
    text-transform: uppercase;
}

.banner-title span {
    color: #24BAA0;
}

.banner-text {
    line-height: 25px;
}

.banner-button {
    color: white;
    border-radius: 10px;
    width: 60%;
    height: 15%;
    background: #24BAA0;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 10px;
}



/* main-news */


.main-section {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 20px;
    padding: 30px;
}

.main-news-title {
    background: rgba(255, 255, 255, 0.4);
    width: 100%;
    top: 155px;
    left: 0;
    padding-left: 10px;
    position: absolute;
}

.title-text span {
    text-transform: uppercase;
}

.title-text {
    color: #575757;
    margin-left: 10px;
    font-size: 20px;
}

.main-article {
    position: relative;
    width: 30%;
    cursor: pointer;
}

.chair-margarita {
    background: url("../images/box2_img.jpg");
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
}

.chair-clair {
    background: url("../images/box1_img.jpg");
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
}

.main-line {
    width: 200px;
    height: 7px;
    background: #24BAA0;
    margin-bottom: 20px;
    margin-top: 20px;

}

.title-text-box {
    color: #575757;

}

.main-text-box {
    color: #575757;
}

.text {
    border: #aaaaaa solid 1px;
    padding: 10px;
}

.main-title {
    padding: 10px;
    margin-top: 10px;
}


/* prices*/


.prices-card {
    background: #f1f1f1;
    padding: 40px;
    color: #575757;
    padding-top: 30px;
}

.prices-boxes {
    display: flex;
    justify-content: space-between;
}

.prices-title {
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 10px;
}

.prices-line {
    width: 30%;
    height: 7px;
    background: #24BAA0;
    margin-bottom: 30px;
}

.price-box {
    background: #fafafa;
    position: relative;
    width: 30%;
    height: 500px;
    text-align: center;
    border: grey solid 1px ;
    margin-top: 30px;
    padding: 30px 0;
}

.price-box-title {
    color: #24BAA0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    margin-top: -10px;
}

.green-title {
    color: white;
}

.box-green {
    background: #24BAA0;
}

.circle-large {
    width: 60px;
    height: 60px;
    background: #f1f1f1;
    border: grey solid 1px;
    border-radius: 50%;
    position: absolute;
    top: -40px;
    left: 130px;
}

.circle-large-green {
    background: #24BAA0;
    border: #24BAA0;
}

.circle-small {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: grey;
    position: relative;
    top: -55px;
    left: 145px;

}

.circle-small-green {
    background: #f1f1f1;
}

.price-option  {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 50%;
}

.price-option li {
    font-size: 20px;
    padding: 10px;
}

.price-option li:nth-of-type(odd) {
    background: #dddddd;
    color: #aaaaaa;
}

.price-option li:nth-of-type(even) {
    background: #f1f1f1;
    color: #bbbbbb;
}

.price-box-circle {
    width: 110px;
    height: 110px;
    background: #fafafa;
    border-radius: 50%;
    border: #dddddd solid 1px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.price {
    font-size: 34px;
    font-weight: 800;
    color: #aaaaaa;
    margin-top: 20px;
}

.price span {
    font-size: 20px;
    vertical-align: top;
}

.price-green {
    color: #24BAA0;
}

.pln {
    font-size: 14px;
    font-weight: 600;
    margin-top: 5px;
    color: #aaaaaa;
}

.pln-green {
    color: #24BAA0;
}

.price-btn {
    width: 40%;
    height: 35px;
    border-radius: 10%;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    background: #24BAA0;
    color: #fafafa;
    border: none;
    line-height: normal;
    cursor: pointer;
    transition: 0.5s;
}

.price-btn:hover {
    background: lightseagreen;
}

.btn-green {
    background: #fafafa;
    color: #24BAA0;
}

.btn-green:hover {
    background: #f1f1f1;
}

/* form*/


.form {
    display: flex;
    justify-content: space-between;
}
.form-left {
    width: 635px;
}
.form-right {
    width: 345px;
}
.form-addition {
    height:200px;
    background: url(../images/red_chair.png);
    background-repeat: no-repeat;
    background-position: center top;
    margin-top:-25px;
    margin-bottom:30px;
}
.form-row {
    margin-bottom: 25px;
}
.form-control {
    height: 68px;
    border: 1px solid #24BAA0;
    font-size: 33px;
    font-weight: 300;
    width: 100%;
    padding: 0 10px;
    outline:none;
}
.form-control:focus {
    box-shadow:inset 0 0 0 1px #24BAA0;
}
.form-control::placeholder {
    color: #bbb;
}
textarea.form-control {
    height:180px;
    resize: none;
    padding: 10px;
}
.form-submit-btn {
    width:100%;
    font-size:34px;
    font-weight: bold;
    padding:20px;
}
.checkbox {
    display: flex;
    cursor: pointer;
    margin-bottom:30px;
}
.checkbox-input {
    width: 50px;
    height: 50px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #24BAA0;
    flex-shrink: 0;
    cursor: pointer;
    outline: none;
    margin-right: 15px;
}
.checkbox-input:checked {
    background-image: url(../images/form_ok.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.checkbox-text {
    font-size: 20px;
    font-weight: 300;
    color: #aaa;
}

footer {
    height: 40px;

}






